<template lang='pug'>
	el-input.prop-item(v-if='prop.type !== Array' v-model='options[propName]' size="mini" :disabled="prop.readonly")
		template(slot="prepend") {{propName}}
	el-select.prop-item(v-else-if="options[propName]" v-model="options[propName].value" size="mini" :disabled="prop.readonly")
		el-option(v-for="item in prop.values" :key="item.value" :label="item.label" :value="item.value")
</template>

<script>
	export default {
		name: "prop-item",
		props: ['options', 'propName','prop'],
		data() {
			return {
			}
		}
	}
</script>

<style lang='stylus' scoped>
	.prop-item
		margin-bottom 5px
</style>
