<template lang="pug">
	.builder
		root-drop.root-drop(:data="store.root" :store="store")
</template>

<script>
	import RootDrop from './components/layout'


	export default {
		name: "builder",
		components: {RootDrop},
		props: ['store'],
		data() {
			return {

			}
		},
		created() {
		},
		methods: {
		}
	}
</script>

<style lang='stylus' scoped>
	.builder
		flex 1
		box-shadow 3px 0 5px rgba(0, 0, 0, .03)
		margin-right 10px
		overflow-y auto
</style>
