<template lang='pug'>
	drag.drag-item(:transfer-data="data")
		i.icon.iconfont(:class="data.icon")
</template>

<script>
	import Vue from 'vue';
	import {Drag} from 'vue-drag-drop';

	Vue.component('drag', Drag);
	export default {
		props: ['data','type'],
		name: "drag-item"
	}
</script>

<style lang='stylus' scoped>
	.drag-item
		flex none
		background rgba(123,123,123, .1)
		padding 5px
		margin 5px
		height 30px
		line-height 30px
		width 30px
		text-align center
		border-radius 8px
		.icon
			color #f56c6c
			font-size 16px
</style>
