<template lang='pug'>
	.maker
		builder(:store="store")
		side-pane(:store="store")
</template>

<script>
	import Builder from './builder'
	import SidePane from './side-pane'
	import MakerStore from './model/maker-store'

	export default {
		name: "maker",
		components: {Builder,SidePane},
		data(){
			return {
				store:null
			}
		},
		created(){
			this.store = new MakerStore()
			document.addEventListener('mousedown',this.onClear, false)
		},
		methods:{
			onClear () {
				//this.store.currentSelectedNode = null
			}
		},
		beforeDestroy(){
			document.removeEventListener('mousedown',this.onClear)
		}
	}
</script>

<style lang='stylus' scoped>
	.maker
		height 100%
		display flex
		flex-direction row
</style>
