<template lang='pug'>
	.side-pane
		.pane.components-pane
			el-collapse()
				el-collapse-item(v-for="item in components" :key="item.type")
					template(slot="title") {{item.name}}
					.components-list
						drag-item(v-for='cell in item.children' :data="cell" :key="cell.id")
		.pane.info-pane(v-if='options')
			el-row.button-row(type='flex' justify="start")
				el-button(type="danger" icon="el-icon-delete" circle size="mini" :disabled="options.root" @click="onDelete")
			prop-item( v-for="(prop,key) in props" :key="key" :options="options", :prop='prop' :propName="key")
</template>

<script>
	import DragItem from './drag-item'
	import PropItem from './side-pane/prop-item'
	import {props, components} from "./side-pane/edit-config";

	export default {
		name: "side-pane",
		components: {DragItem, PropItem},
		props: ['store'],
		data() {
			return {
				props: props,
				components: components,
				list: [
					{id: 1, icon: 'el-icon-goods', classname:'Layout'},
					{id: 2, icon: 'el-icon-bell', classname:'HLayout'},
					{id: 3, icon: 'el-icon-date', classname:'HLayout'},
				]
			}
		},
		computed: {
			options() {
				return this.store.currentSelectedNode ? this.store.currentSelectedNode.data : ''
			}
		},
		methods: {
			onDelete(){
				this.store.deleteNode()
			}
		}
	}
</script>

<style lang='stylus' scoped>
	.side-pane
		flex none
		display flex
		flex-direction column
		width 280px
		box-sizing border-box
		padding 5px 10px 5px 0
		.pane
			box-sizing border-box
			box-shadow 0 6px 5px rgba(0, 0, 0, .05)
			overflow-x hidden
		.components-pane
			display flex
			flex auto
			flex-direction row
			overflow-y auto
			flex-wrap wrap
			align-content flex-start
			box-sizing border-box
			>>>.el-collapse
				width 100%
				border none
			>>>.el-collapse-item__header
				text-align left
			.components-list
				display flex
				flex-direction row
		.info-pane
			display flex
			flex-direction column
			flex auto
			.button-row
				margin 10px  0 5px 0
</style>
