<template lang="pug">
	#app
		router-view
</template>

<script>
	export default {
		name: 'App'
	}
</script>

<style lang="stylus">
	html,body {
		margin 0
		padding 0
		height 100%
		font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	}
	#app
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		height 100%
</style>
