<template lang='pug'>
	.bar(:style="style")
		canvas(ref='chart' @click.stop="onSelect(data)" :class="{isSelected}")
</template>

<script>
	import F2 from '@antv/f2'

	export default {
		name: "bar",
		props: ['data', 'store', 'parent'],
		data() {
			return {
				chart: null,
				dataSource: [
					{
						year: '1951 年',
						sales: 38
					}, {
						year: '1952 年',
						sales: 52
					}, {
						year: '1956 年',
						sales: 61
					}, {
						year: '1957 年',
						sales: 145
					}, {
						year: '1958 年',
						sales: 48
					}, {
						year: '1959 年',
						sales: 38
					}, {
						year: '1960 年',
						sales: 38
					}, {
						year: '1962 年',
						sales: 38
					}]
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.initChart()
			})
		},
		computed: {
			isSelected() {
				if (!this.store.currentSelectedNode) return false
				return this === this.store.currentSelectedNode.$vm
			},
			style(){
				let s = {}
				if(this.data.height > 0) {
					s.height = `${this.data.height}px`;
					s.flex = 'none'
				}else{
					s.flex =1
				}
				if(this.parent && this.parent.layout.value == 'row'){
					s.flex = 1
				}
				return s
			}
		},
		watch: {
			'data.height'() {
				this.changeSize()
			},
			'parent.layout.value' () {
				this.changeSize()
			}
		},
		methods: {
			changeSize() {
				this.$nextTick(() => {
					let h = this.data.height == 0 ? this.$el.clientHeight : this.data.height
					let w = this.$el.clientWidth
					this.chart.changeSize(w, h)
				})

			},
			initChart() {
				this.chart = new F2.Chart({
					el: this.$refs.chart,
					pixelRatio: window.devicePixelRatio,
					width: this.$el.clientWidth,
					height: this.data.height
				});
				let chart = this.chart
				console.log(/F2/, this.chart)
				chart.source(this.dataSource, {
					sales: {
						tickCount: 5
					}
				});
				chart.tooltip(false);
				chart.interval().position('year*sales');
				chart.render();
			},
			onSelect(data) {
				let node = {
					$vm: this,
					data: data,
					parent: this.parent
				}
				this.store.currentSelectedNode = node
			}
		}
	}
</script>

<style lang='stylus' scoped>
	.bar
		background-color rgba(0, 0, 0, .025)
		position relative
		flex auto
		overflow hidden
		canvas
			position absolute
			top 0
			left 0
			width 100%
			height 100%
	.isSelected
		box-shadow 0 0 5px rgba(0, 0, 0, .3)
		background-color rgba(0, 0, 0, .03)
</style>
