<template lang='pug'>
	drop.layout(:class="{isOver,isSelected,root:data.root}"
	:style="style"
	@dragover="onDragover"
	@dragleave="onDragleave"
	@drop="onDarg"
	@click.stop.native="onSelect(data)")
		component(v-for='(item,index) in data.children' :is='item.componentName' :key="index" :data="item" :store="store" :parent="data")
		.tag {{data.name}}

</template>

<script>
	import Vue from 'vue';
	import {Drop} from 'vue-drag-drop';
	Vue.component('drop', Drop);

	export default {
		name: "layout",
		props: ['data', 'store', 'parent'],
		components: {
			layout: () => import('./layout'),
			bar: () => import('./bar'),
		},
		data: function () {
			return {
				isOver: false,
				isAccept: 0, // 0:未知，1: 接受 -1：不接受
			}
		},
		computed: {
			isSelected() {
				if (!this.store.currentSelectedNode) return false
				return this === this.store.currentSelectedNode.$vm
			},
			flex() {
				console.log(/parent/, this.parent)
				if (!this.parent) return {}
				return this.parent.layout.value === 'column' ? 'none' : 1
			},
			style(){
				let s = {}
				if(this.data.height > 0) {
					s.height = `${this.data.height}px`;
					s.flex = 'none'
				}else{
					s.flex =1
				}
				s['flex-direction'] = this.data.layout.value
				return s
			}
		},
		methods: {
			onDragover(data, e) {
				e.stopPropagation()
				this.isOver = true
				this.isAccept = true
			},
			onDragleave(data, e) {
				e.stopPropagation()
				this.isOver = false
			},
			onDarg(data, e) {
				e.stopPropagation()
				this.isAccept = 0
				this.isOver = false
				this.store.addNode(this.data, data)
			},
			onSelect(data) {
				let node = {
					$vm: this,
					data: data,
					parent: this.parent
				}
				this.store.currentSelectedNode = node
				this.$emit('selected', node)
			}
		}
	}
</script>

<style lang='stylus' scoped>
	.layout
		position relative
		display flex
		box-sizing border-box
		border 1px dashed #dddddd
		flex 1
		margin 15px
		border-radius 5px
		background transparent
		min-height 100px
		min-width 100px
		overflow-y auto
		overflow-x auto
		padding 5px
		.tag
			position absolute
			top 0
			left 0
			color #666
			font-size 10px
			background rgba(250, 189, 30, .5)
			padding 0 5px
		&.root
			width 750px
			flex none
			margin 0 auto
			min-height 100%

	.isOver
		border 1px dashed rgba(0, 200, 0, .7)

	.isAccept
		border 1px dashed red

	.isSelected
		box-shadow 0 0 5px rgba(0, 0, 0, .3)
</style>
